<h1><%= @child.name %> - <%= @child.dob %></h1>

<h2>Milestones</h2>

<% if @child.milestones.empty?%>
    <p>You have not added any milestones yet.<p>
<% else @child.milestones.each do |milestone|%>
        <h4><%= milestone.content %></h4>
        <% if !milestone.age.empty? && !milestone.date.nil? %>
            <p>At <%= milestone.age %></p>
            <p>On <%= milestone.date %></p>
        <% elsif !milestone.age.empty? %>
            <p>At <%= milestone.age %></p>
        <% elsif !milestone.date.nil? %>
            <p>On <%= milestone.date %></p>
        <% end %>
        <p>******************</p>
    <% end %>
<% end %>
<a href="/child/<%= @child.slug %>/create-milestone">Add a milestone<a/><br>

<br>
<a href="/child/<%= @child.slug %>/edit">Edit <%= @child.name %><a>
<br>
<br>

<a href="/parent/<%= @parent.slug %>">Return to homepage<a/>